apiVersion: kubeconfig.k8s.zoomoid.dev/v1alpha1
kind: Kubeconfig
metadata:
  name: kubeconfig-demo
spec:
  username: demo-user
  csr:
    signatureAlgorithm: SHA256WithRSA
    additionalFields:
      organization:
        - system:masters
  automaticApproval: false
  cluster:
    name: demo-cluster
    server: https://demo-cluster.zoomoid.dev:6443
  roleRef:
    kind: User
    apiGroup: rbac.authorization.k8s.io
    name: demo-user
